<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-logo">
                <img src="images/logo.png" alt="Logo" class="profile-picture">
            </a>
            <ul class="navbar-menu">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
                <li><a href="/todo" class="nav-link">Todo</a></li>
            </ul>
            <ul class="navbar-signout">
                <li><a href="/login" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i> Sign Out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="hero">
        <h1 class="hero-title">Wilujeung sumping di Bumi Sunda</h1>
        <p class="hero-description">Gali budaya Sunda, dari keindahan rumah tradisional hingga kekayaan kearifan lokalnya!</p>
        <a href="/contact" class="hero-btn">Kontak Ka Kami</a>
    </div>
  
    <div class="features">
        <div class="feature">
            <img src="images/rmh.jpeg" alt="Bumi Parahu Kumureb" class="feature-img">
            <h3>Bumi Parahu Kumureb</h3>
            <p>Bumi Parahu Kumureb (Bahasa Sunda: "Tanah Perahu Terbalik") adalah istilah yang digunakan untuk menggambarkan topografi wilayah di Jawa Barat, khususnya Bandung. Daerah ini menyerupai perahu yang terbalik jika dilihat dari kejauhan.</p>
        </div>
        <div class="feature">
            <img src="images/angklung.jpg" alt="Angklung" class="feature-img">
            <h3>Angklung</h3>
            <p>Angklung adalah alat musik tradisional yang berasal dari Sunda, Jawa Barat. Alat musik ini terbuat dari bambu dan dimainkan dengan cara digoyangkan, sehingga menghasilkan nada yang khas.</p>
        </div>
        <div class="feature">
            <img src="images/nasiliwet.jpg" alt="Sangu Liwet" class="feature-img">
            <h3>Sangu Liwet</h3>
            <p>Nasi liwet adalah hidangan tradisional yang berasal dari Jawa Barat, dikenal dalam budaya Sunda. Nasi liwet dimasak dengan rempah-rempah, memberikan rasa yang gurih dan kaya.</p>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container">
            <p>© 2024 Bumi Sunda | All rights reserved</p>
        </div>
    </footer>
</body>
</html>
